.line{
    margin: 10px;
}
input[type=button]{
    margin-left: 80px;
    padding: 5px;
    width: 100px;
}
input[type=text]{
    width: 40px;
}
table{
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}
td{
    border: solid thin grey;
    padding: 5px;
}
td.first{
    background-color: #ffcc66;
    color: brown;
}
